<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.health.myapplication">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Log.LogMedicationActivity"></activity>
        <activity android:name=".Log.LogMoodActivity" />
        <activity android:name=".Log.LogSleepActivity" />
        <activity android:name=".TeamActivity.MemList.TeamLogActivity" />
        <activity android:name=".TeamActivity.MemList.MemListActivity" />
        <activity android:name=".Progress.progressActivity" />
        <activity android:name=".ConfirmActivity.ConfirmSympthomActivity" />
        <activity android:name=".ConfirmActivity.ConfirmSleepActivity" />
        <activity android:name=".ConfirmActivity.ConfirmMedicationActivity" />
        <activity android:name=".TeamActivity.AddMember" />
        <activity
            android:name=".Reminder.Reminder"
            android:label="@string/title_activity_reminder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Overview.overview"
            android:label="@string/title_activity_overview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Reminder.AddSleep" />
        <activity android:name=".TeamActivity.EditMemList" />
        <activity android:name=".TeamActivity.TeamActivity" />
        <activity android:name=".Reminder.AddMood" />
        <activity android:name=".Reminder.AddReminderActivity" />
        <activity android:name=".Overview.AddLogMood" />
        <activity android:name=".Overview.AddLogSleep" />
        <activity android:name=".Overview.AddLogMed" />
        <activity
            android:name=".splashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="fontProviderRequests"
            android:value="Noto Color Emoji Compat" />

        <receiver
            android:name=".UnlockReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MedReciever"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".WakeUpReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SymptomReciever"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service android:name=".FloatingButtonService" />
        <service android:name=".Medservice" />
        <service android:name=".SymptomService" />

        <receiver
            android:name=".BootCompleted"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>