<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.health.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".progressActivity"></activity>
        <activity android:name=".ConfirmSympthomActivity" />
        <activity android:name=".ConfirmSleepActivity" />
        <activity android:name=".ConfirmMedicationActivity" />
        <activity android:name=".AddMember" />
        <activity android:name=".EditMemList" />
        <activity android:name=".TeamActivity" />
        <activity android:name=".AddSleep" />
        <activity android:name=".AddMood" />
        <activity android:name=".AddReminderActivity" />
        <activity
            android:name=".splashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="fontProviderRequests"
            android:value="Noto Color Emoji Compat" />
    </application>

</manifest>